# Python cache
**/__pycache__/

# Python package
custom_gym.egg-info

# Unity executable
custom_gym/unity/assets

# MuJoCo
custom_gym/mujoco/*
!custom_gym/mujoco/__init__.py
!custom_gym/mujoco/mujoco_env.py
!custom_gym/mujoco/reacher.py
!custom_gym/mujoco/reacher_gep.py
!custom_gym/mujoco/reacher_five_target.py
!custom_gym/mujoco/reacher_five_target_v1.py
!custom_gym/mujoco/reacher_five_target_v2.py
!custom_gym/mujoco/reacher_five_target_v3.py
!custom_gym/mujoco/reacher_five_target_v4.py
!custom_gym/mujoco/reacher_five_target_v5.py
!custom_gym/mujoco/reacher_over_cooked.py
!custom_gym/mujoco/reacher_over_cooked_v1.py
!custom_gym/mujoco/reacher_over_cooked_v2.py
!custom_gym/mujoco/reacher_over_cooked_v3.py
!custom_gym/mujoco/reacher_over_cooked_v4.py
!custom_gym/mujoco/reacher_over_cooked_v5.py
!custom_gym/mujoco/assets
custom_gym/mujoco/assets/*
!custom_gym/mujoco/assets/reacher.xml
!custom_gym/mujoco/assets/reacher_five_target.xml
!custom_gym/mujoco/assets/reacher_five_target_v1.xml
!custom_gym/mujoco/assets/reacher_over_cooked.xml

# IOS stuff
.DS_Store
._.DS_Store
