# Python cache
**/__pycache__/

# Python package
custom_gym.egg-info

# Unity executable
custom_gym/unity/assets

# MuJoCo
custom_gym/mujoco/*
!custom_gym/mujoco/__init__.py
!custom_gym/mujoco/mujoco_env.py
!custom_gym/mujoco/reacher.py
!custom_gym/mujoco/assets
custom_gym/mujoco/assets/*
!custom_gym/mujoco/assets/reacher.xml

# IOS stuff
.DS_Store
._.DS_Store
