# Python cache
**/__pycache__/

# Python package
custom_gym.egg-info

# Unity executable
custom_gym/unity/assets

# Classic control
custom_gym/classic_control/decrepated

# MuJoCo
custom_gym/mujoco/decrepated

# Testing
test_data
rule_base/dataset/

# IOS stuff
.DS_Store
._.DS_Store
